header {
	height: 30px;
	background-color: #27ae60;
	padding: 10px;
	color: white;
}

#contenido { background-color: #2c3e50; }

section {
	margin: 0 auto;
	width: 80%;
	background-color: #34495e;
	border-left: 2px solid silver;
	border-right: 2px solid silver;
}

article {}
article span {
    background-color: #C0C0C0;
    color: #000000;
    display: block;
    padding: 5px;
 }

h3 {
	color: #7f8c8d;
	border-bottom: 4px solid white;
	background-color: white;
	padding: 5px;
	text-align: center;
}

#cltx, #clbg, #clbr, #pd, #ipt-tam, #iptst,#ipbt, #h {
	padding: 10px;
	list-style-type: none;
}#cltx li, #clbg li, #clbr li, #pd li, #ipt-tam li, #iptst li, #ipbt li, #h li {
	float: left;
	margin: 5px;
	font-size: 19px;
	padding: 5px;
 }
